@import url(style/reset.css);
@import url(style/header.css);
@import url(style/banner.css);
@import url(style/metricas.css);
@import url(style/talentos.css);
@import url(style/vagas.css);

/* fonte */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --vinho: #8E2424;
    --branco: #FFFFFF;
    --preto: #101828;

    --fonte-principal: 'Inter', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--branco);
    font-weight: 400;   
    font-size: 16px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}