header {
    font-weight: 500;
    line-height: 1.5em;
    padding: 1.75em 0;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header-content-01 {
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.logo a {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.logo img {
    width: 27px;
    height: 27px;
}

.logo a {
    text-decoration: none;
    font-size: 1.125em;
    color: var(--cinza-escuro);
}

.menu .fa-bars {
    display: none;
}

.menu ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

.menu ul li a {
    text-decoration: none;
    color: var(--cinza-claro);
}

.header-content-02 {
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-family: var(--fonte-principal);
}

.button-entrar {
    color: var(--cinza-claro);
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 500    ;
}

.button-cadastrar {
    color: var(--branco);
    background-color: var(--vinho);
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 500    ;
}

@media screen and (max-width: 776px) {
    .header {
        justify-content: space-between;
        align-items: flex-start;
    }

    .header-content-01 {
        align-items: flex-start;
        gap: 16px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .menu .fa-bars {
        display: block;
        margin-left: 32.86px;
    }

    .menu .fa-bars.reponsive {
        margin-left: 0;
    }
    
    .menu ul.menu-nav {
        display: none;
    }

    .menu ul.menu-nav.reponsive{
        
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2em;
    }

    .header-content-02 {
        gap: 1em;
    }

    .button-entrar {
        font-size: 14px;
    }

    .button-cadastrar {
        font-size: 14px;
        padding: 8px;
    }
}