.metricas {
    padding: 3em 0;
}

.metricas-content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
}

.metricas-card h2 {
    color: var(--vinho);
    font-size: 60px;
    font-weight: 600;
}

.metricas-card h3 {
    color: var(--preto);
    font-size: 18px;
    font-weight: 500;
    margin: 12px 0 8px 0;
}

.metricas-card p {
    color: var(--cinza-claro);
    max-width: 280px;
}