.vagas {
    padding: 3em;
}

.vagas-content {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.vagas-card {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.vagas-card h2 {
    color: var(--preto);
    font-size: 1.25em;
    font-weight: 500;
}

.vagas-subcard {
    padding: 1.25em;
    border: solid 2px #EAECF0;
    border-radius: 1em;
}

.vagas-subcard p {
    color: var(--preto);
    font-size: 1.125em;
    font-weight: 500;
    margin-bottom: 2em;
}

.vagas-descricao {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.vagas-descricao p {
    color: var(--cinza-claro);
    font-size: 1em;
    margin-bottom: 0px;
}